body {
  background:
    radial-gradient(circle at top left, rgba(149,99,222,.35), transparent 25%),
    radial-gradient(circle at bottom right, rgba(212,167,249,.2), transparent 25%),
    #140F2D;
}

button {
  cursor: pointer;
  border: none;
}

* {
  transition:
    background .25s ease,
    border .25s ease,
    transform .25s ease;
}